<app-header [puzzleNumber]="puzzleNumber"> </app-header>

@if (showToast) {
  <div class="toast">
    {{ toastMessage }}
  </div>
}

<div class="game-container">
  <app-board [board]="board" [shakeRow]="shakeRow"></app-board>
  @if (isGameOver && !showGameOverModal) {
    <button class="share-button" (click)="shareResults()">Share Results</button>
  }
  @if (!isGameOver) {
    <app-keyboard [keyStatuses]="keyStatuses" (keyPressed)="handleVirtualKey($event)">
    </app-keyboard>
  }
</div>

@if (showGameOverModal) {
  <div class="modal-backdrop">
    <div class="modal">
      @if (isWin) {
        <button class="close-button" (click)="closeGameOverModal()">×</button>
        <h2>YAYYY!!!🎉🎉🎉</h2>
        <p>Come back tomorrow for a new puzzle.</p>
      } @else {
        <button class="close-button" (click)="closeGameOverModal()">×</button>
        <h2>OOPS!</h2>
        <p>The word was:</p>
        <h1 class="answer">
          {{ answer }}
        </h1>
      }
    </div>
  </div>
}
