.keyboard {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  align-items: center;
}

.keyboard-row {
  display: flex;
  gap: 6px;
}

.key {
  height: clamp(45px, 10vw, 58px);

  min-width: clamp(30px, 8vw, 42px);

  border: none;
  border-radius: 4px;

  background-color: #b6b6b6;

  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}

.wide {
  min-width: clamp(55px, 14vw, 65px);
}

.absent {
  background-color: #000000;
  color: white;
}

.present {
  background-color: #f8b100;
  color: white;
}

.correct {
  background-color: #19d200;
  color: white;
}
