<div class="container">
  <img src="images/edword-logo.png" alt="EdWord Logo" class="logo" />

  @if (!hasSavedGame) {
    <h1>{{ greeting }}</h1>

    <button routerLink="/game">Start Puzzle</button>
    <div class="puzzle-info">
      <p>Puzzle #{{ puzzleNumber }}</p>
      <p>{{ todayDate }}</p>
    </div>
  }

  @if (hasSavedGame && !isCompletedGame) {
    <h1>Welcome Back</h1>

    <button routerLink="/game">Resume Puzzle</button>
    <div class="puzzle-info">
      <p>Puzzle #{{ puzzleNumber }}</p>
      <p>{{ todayDate }}</p>
    </div>
  }

  @if (hasSavedGame && isCompletedGame) {
    @if (isWin) {
      <h1>Great Work Today!</h1>

      <button routerLink="/game">Admire Your Puzzle</button>
      <div class="puzzle-info">
        <p>Puzzle #{{ puzzleNumber }}</p>
        <p>{{ todayDate }}</p>
      </div>
    } @else {
      <h1>Better Luck Next Time!</h1>

      <button routerLink="/game">View Your Puzzle</button>
      <div class="puzzle-info">
        <p>Puzzle #{{ puzzleNumber }}</p>
        <p>{{ todayDate }}</p>
      </div>
    }
  }
</div>
